<div class="container">
  <form>
    <div class="ui-g">

      <div class="ui-g-12">
        <h1>New Person</h1>
      </div>

      <div class="ui-g-12 ui-md-12 ui-fluid">
        <label>Name</label>
        <input pInputText type="text">
      </div>

      <div class="ui-g-12 ui-md-9 ui-fluid">
        <label>Public place</label>
        <input pInputText type="text">
      </div>

      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Number</label>
        <input pInputText type="text">
      </div>

      <div class="ui-g-12 ui-md-8 ui-fluid">
        <label>Complement</label>
        <input pInputText type="text">
      </div>

      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>Zip code</label>
        <input pInputText type="text">
      </div>

      <div class="ui-g-12 ui-md-7 ui-fluid">
        <label>City</label>
        <input pInputText type="text">
      </div>

      <div class="ui-g-12 ui-md-5 ui-fluid">
        <label>State</label>
        <input pInputText type="text">
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Save"></button>
        <button pButton type="submit" label="New" class="ui-button-info"></button>
        <a href="javascript:;">Return to search</a>
      </div>

    </div>
  </form>
</div>
