<div class="container">
  <form #fNgForm="ngForm" autocomplete="off">
    <div class="ui-g">

      <div class="ui-g-12">
        <h1>New Person</h1>
      </div>

      <div class="ui-g-12 ui-md-12 ui-fluid">
        <label>Name</label>
        <input pInputText type="text" name="name"
          ngModel #name="ngModel" required minlength="5">

        <app-message [control]="name" error="required"
          text="Inform the name"></app-message>

        <app-message [control]="name" error="minlength"
          text="{{ name.errors?.minlength?.requiredLength }} characters minimum"></app-message>

        </div>

        <div class="ui-g-12 ui-md-9 ui-fluid">
          <label>Public place</label>
          <input pInputText type="text" name="publicPlace"
          ngModel #publicPlace="ngModel" required>

          <app-message [control]="publicPlace" error="required"
          text="Inform the Public place"></app-message>
      </div>

      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Number</label>
        <input pInputText type="text" name="number"
        ngModel #number="ngModel"required>

        <app-message [control]="number" error="required"
        text="Inform the number"></app-message>
      </div>

      <div class="ui-g-12 ui-md-8 ui-fluid">
        <label>Complement</label>
        <input pInputText type="text">
      </div>

      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>Zip code</label>
        <p-inputMask name="zipcode"
          mask="99.999-999"
          ngModel #zipcode="ngModel" required>
        </p-inputMask>

        <app-message [control]="zipcode" error="required"
          text="Inform the Zip Code"></app-message>
      </div>

      <div class="ui-g-12 ui-md-7 ui-fluid">
        <label>City</label>
        <input pInputText type="text" name="city"
        ngModel #city="ngModel" required>

        <app-message [control]="city" error="required"
        text="Inform the city"></app-message>
      </div>

      <div class="ui-g-12 ui-md-5 ui-fluid">
        <label>State</label>
        <input pInputText type="text" name="state"
          ngModel #state="ngModel" required>

        <app-message [control]="state" error="required"
        text="Inform the State"></app-message>
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Save" [disabled]="fNgForm.invalid"></button>
        <button pButton type="submit" label="New" class="ui-button-info"></button>
        <a routerLink="/people">Return to search</a>
      </div>

    </div>
  </form>
</div>
