<div class="container">
  <form>
    <div class="ui-g">

      <div class="ui-g-12">
        <h1>New Release</h1>
      </div>

      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label>Due</label>
        <input pInputText type="text">
      </div>
      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label>Recipe</label>
        <input pInputText type="text">
      </div>
      <div class="ui-g-12 ui-md-9 ui-fluid">
        <label>Description</label>
        <input pInputText type="text">
      </div>
      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Value</label>
        <input pInputText type="text" placeholder="0,00">
      </div>
      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Category</label>
        <input pInputText type="text">
      </div>
      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Person</label>
        <input pInputText type="text">
      </div>
      <div class="ui-g-12 ui-fluid">
        <label>Obersavation</label>
        <textarea pInputTextarea rows="3"></textarea>
      </div>
      <div class="ui-g-12">
        <button pButton type="submit" label="Save"></button>
        <button pButton type="submit" label="New" class="ui-button-info"></button>
        <a href="javascript:;">Return to search</a>
      </div>

    </div>
  </form>
</div>
