<div class="container">
  <form autocomplete="off">
    <div class="ui-g">

      <div class="ui-g-12">
        <h1>New Release</h1>
      </div>

      <div class="ui-g-12">
        <p-selectButton [options]="types" #type></p-selectButton>
      </div>

      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label>Due</label>
        <p-calendar dateFormat="dd/mm/yy" showIcon="true"></p-calendar>
      </div>
      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label>{{ type.value === 'EXPENSE' ? 'Payment' : 'Receivement' }}</label>
        <p-calendar dateFormat="dd/mm/yy" showIcon="true"></p-calendar>
      </div>

      <div class="ui-g-12 ui-md-9 ui-fluid">
        <label>Description</label>
        <input pInputText type="text" name="description"
          ngModel #description="ngModel"
          required minlength="5">

          <div *ngIf="description.hasError('required') && description.dirty"
            class="ui-message ui-messages-erro">
            Informe a description
          </div>
          <div *ngIf="description.hasError('minlength') && description.dirty"
            class="ui-message ui-message-error">
            {{ description.errors.minlength.requiredLength }} characters minimum
          </div>
      </div>

      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Value</label>
        <input pInputText type="text" name="value"
          placeholder="0,00"
          currencyMask
          [options]="{ prefix: '', thousands: '.', decimal: ',', allowNegative: false }"
          ngModel>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Category</label>
        <p-dropdown [options]="categories"
          [autoWidth]="false"
          placeholder="Select">
        </p-dropdown>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Person</label>
        <p-dropdown [options]="people"
          [autoWidth]="false"
          placeholder="Select"
          filter="true">
        </p-dropdown>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Obersavation</label>
        <textarea pInputTextarea rows="3"></textarea>
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Save"></button>
        <button pButton type="submit" label="New" class="ui-button-info"></button>
        <a href="javascript:;">Return to search</a>
      </div>

    </div>
  </form>
</div>
