<div class="container">

  <div class="ui-g">

    <form autocomplete="off" (ngSubmit)="search()">

      <div class="ui-g-12">
        <h1>Financial releases</h1>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Description</label>
        <input pInputText type="text" name="description"
        [(ngModel)]="filter.description">
      </div>

      <div class="ui-g-12">
        <label style="display: block;">Due</label>
        <p-calendar dateFormat="dd/mm/yy" [inputStyle]="{ width: '95px' }"
          name="dueDateFrom"
          [(ngModel)]="filter.dueDateFrom"></p-calendar>

        <label>until</label>
        <p-calendar dateFormat="dd/mm/yy" [inputStyle]="{ width: '95px' }"
          name="dueDateUntil"
          [(ngModel)]="filter.dueDateUntil"></p-calendar>

      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Search"></button>
      </div>

  </form>

  </div>

  <div class="ui-g">
    <div class="ui-g-12">

      <app-releases-grid [releases]="releases" [pageSize]="filter.pageSize"
        [totalRegisters]="totalRegisters" (changePageEmitter)="search($event)"
        (idDeleteEmitter)="delete($event)">
      </app-releases-grid>

    </div>
  </div>

  <div class="ui-g-12">
      <button pButton label="New Release"></button>
  </div>

</div>
