<nav class="navbar">
  <div class="container">
    <div class="ui-g">
      <div class="ui-g-12">
        <a href="javascript:;" class="navbar-togle" (click)="showingMenu = !showingMenu"><i class="fa fa-bars"></i></a>
      </div>
    </div>
  </div>

  <ul class="navbar-menu" [hidden]="!showingMenu">
    <li class="navbar-user">Junior Miqueletti</li>
    <li class="navbar-menuitem"><a routerLink="/releases">Releases</a></li>
    <li class="navbar-menuitem"><a routerLink="/people">People</a></li>
    <li class="navbar-menuitem"><a routerLink="#">Logout</a></li>
  </ul>

</nav>
